/* General properties */
body {
    background: #fef6e4;
    font-family: Helvetica;
    color: #001858;
}

h2 {
    font-size: 65px;
    padding: 30px;;
}

p {
    font-size: 50px;
    padding: 30px;
}

/* Navigation menu properties */
#main-menu ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    background-color: #f582ae;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#main-menu ul li {
    text-align: center;
    float: left;
    font-size: 30px;
    width: 150px;
    margin: 0;
}

#main-menu ul li a {
    display: block;
    text-decoration: none;
}

#main-menu ul li a:hover {
    background: #fc9ac0;
}

/* 'Home' properties */
#home {
    text-align: left;
    float: left;
    margin-bottom: 200px;
    width: 100%;
}

#home h1 {
    margin-bottom: 0;
    font-size: 175px;
    padding: 30px;
}

#home p {
    width: 50%;
}

/* 'Projects' properties */
#projects {
    text-align: right;
    float: right;
    margin-bottom: 450px;
    width: 100%;
}

#projects h2 {
}

#projects p {
    float: right;
}

#projects img {
    width: 500px;
    float: right;
    margin-right: 200px;
}

/* 'About Me' properties */
#about-me {
    text-align: left;
    float: left;
    margin-bottom: 200px;
    width: 100%;
}

#about-me h2 {
    margin-bottom: 0;
}

#about-me p {
    margin-top: 0;
    width: 75%;
}

/* 'Resume' properties */
#resume {
    text-align: right;
    float: right;
    margin-bottom: 425px;
    width: 100%;
}

#resume h2 {
}

#resume p {
}

/*'Contact' properties */
#contact {
    text-align: center;
    width: 100%;
}

#contact p {
    font-size: 32px;
}