body {
    background: #fef6e4;
    font-family: Helvetica;
    color: #001858;
}

h1 {
    color: #001858;
}

h2 {
    font-size: 48px;
    color: #001858;
}

#main-menu ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    background-color: #f582ae;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#main-menu ul li {
    text-align: center;
    float: left;
    font-size: 30px;
    width: 150px;
    margin: 0;
}

#main-menu ul li a {
    display: block;
    text-decoration: none;
    color: #001858;
}

#main-menu ul li a:hover {
    background: #fc9ac0;
}

#main-name {
    font-size: 125px;
    text-align: left;
    margin-left: 20px;
    margin-top: 75px;
}

#main-name + p {
    font-size: 40px;
    width: 50%;
    text-align: left;
    margin-top: 175px;
    margin-left: 30px;
}

#projects {
    text-align: right;
    margin-top: 350px;
    margin-right: 5px;
    width: 100%;
}

#about-me {
    text-align: left;
    margin-left: 5px;
    width: 100%;
}

#resume {
    text-align: right;
    width: 100%;
    margin-right: 5px;
}

#about-me + p {
    font-size: 40px;
    width: 50%;
    text-align: left;
    margin-left: 30px;  
}

#projects + p {
    font-size: 40px;
    width: 50%;
    float: right;
    text-align: right;
    margin-right: 30px;
}

#resume + p {
    font-size: 40px;
    width: 50%;
    float: right;
    text-align: right;
    margin-left: 30px;
}